node_modules
.env
# Ignorar directorio de Cypress
cypress/

# Ignorar archivos específicos
cypress.json
cypress.env.json

# Ignorar archivos generados automáticamente
cypress/screenshots/
cypress/videos/
